Package: enigma2-plugin-extensions-boblight-enigma2
Version: 0.8r6b
Depends: libusb-1.0-0,kernel-module-cdc-acm,kernel-module-ftdi-sio,kernel-module-usbserial, libgomp1
Description: Sedulight/Atmolight/Karatelight/Adalight/Ibelight/Diodelight(Ikea)/Lightpack for Enigma2
Section: extra
Priority: optional
Maintainer: Speedy1985 <boblightenigma2@gmail.com> and Oktay Oeztueter <wp.oktay.com>. Edited by Jypy for OpenPli 
License: OPEN
Architecture: mips32el
OE: 2.0
Homepage: http://www.boblightenigma2.net/
Source: https://github.com/Speedy1985
